body{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgba(232, 232, 222, 0.785);
    color:rgb(95, 84, 60);
}
button{
    border-radius: 5px;
    margin:20px;
    padding:20px;
}

fieldset{
    margin: 0 auto;
   max-width:600px;
   min-width:200px;
   color:rgb(95, 84, 60);
    
}