body{
    font-family: Georgia;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#423E28;
}


button{
    border-radius: 5px;
    font-size: 15px;
    margin:20px;
    padding:20px;
    border: solid 1.5px #29421b;
    color:#637b71;
    background-color:#e1f3f0;
    outline:none;
}

button:hover{
    color:#e1f3f0;
    background-color:#637b71;
    transition: 0.5s;
    cursor:pointer;
}

fieldset{
    
   margin: 0 auto;
   max-width:500px;
   min-width:30%;
   background-color:#d5f4e69a;
   color:#50723C;
   border:solid 1.5px;
   border-radius:5px;
    
}


.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
  opacity: 0.2;
}

a{
    color:#50723C;
}

label:hover{
    color:#29421b
}

.fullset{
display: inline-flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.5em;
  
}

.options{
    display: inline-flex; 
    align-items: center;
}

input[type="checkbox"] {
    vertical-align: middle;
}