body{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#fbf9ff;
    color:#0077B6;
}
button{
    border-radius: 5px;
    margin:20px;
    padding:20px;
}

fieldset{
    margin: 0 auto;
   max-width:600px;
   min-width:200px;
   background-color:#cee0f1;
   color:#0077B6;
   border:solid 1px;
    
}